default:
  image: python:3.9-bullseye

stages:
  - deploy-maintenance-flags
  - deploy-spa

{% if include_do_nothing_maintenance %}
do-nothing:
  stage: deploy-maintenance-flags

  script:
    - echo "No changes made to the maintenance flags"
{% endif %}

{% if include_do_nothing_spa %}
no-changes:
  stage: deploy-spa

  script:
    - echo "No SPAs to deploy"
{% endif %}

# Maintenance jobs
{% for maintenance_job in maintenance_jobs %}
deploy-flags-{{ maintenance_job.env }}{{ maintenance_job.target }}:
  stage: deploy-maintenance-flags

  variables:
    TARGET_SERVER: "{{ maintenance_job.target_server }}"
    ACTIVE_PROFILE: "{{ maintenance_job.active_profile }}"

  script:
    - echo "current state of maintenance flags"
    - s3-cli verify-maintenance --bucket-name "{{ maintenance_job.bucket_name }}" --change-record "{{ maintenance_job.change_record }}" --target-server "$TARGET_SERVER"
{% if maintenance_job.off_flags != "N/A" %}
    - s3-cli deploy-maintenance --bucket-name "{{ maintenance_job.bucket_name }}" --flags "{{ maintenance_job.off_flags }}" --state false --change-record "{{ maintenance_job.change_record }}" --target-server "$TARGET_SERVER"
{% endif %}
{% if maintenance_job.on_flags != "N/A" %}
    - s3-cli deploy-maintenance --bucket-name "{{ maintenance_job.bucket_name }}" --flags "{{ maintenance_job.on_flags }}" --state true --change-record "{{ maintenance_job.change_record }}" --target-server "$TARGET_SERVER"
{% endif %}
    - echo "maintenance flags post deployment"
    - s3-cli verify-maintenance --bucket-name "{{ maintenance_job.bucket_name }}" --change-record "{{ maintenance_job.change_record }}" --target-server "$TARGET_SERVER"

  artifacts:
    when: always
    paths:
      - "*.txt"
      - "*.log"
{% endfor %}

# SPA deployment jobs
{% for spa_job in spa_jobs %}
deploy-{{ spa_job.application }}-{{ spa_job.version }}{{ spa_job.target }}:
  stage: deploy-spa

  when: manual
  allow_failure: false

  variables:
    TARGET_SERVER: "{{ spa_job.target_server }}"
    ACTIVE_PROFILE: "{{ spa_job.active_profile }}"

  script:
    - s3-cli deploy-release --application "{{ spa_job.application }}" --version "{{ spa_job.version }}" --bucket-name "{{ spa_job.bucket_name }}" --prefix "{{ spa_job.prefix }}" --change-record "{{ spa_job.change_record }}" --target-server "$TARGET_SERVER"
    - echo "Post deployment verification"
    - s3-cli list-objects --bucket-name "{{ spa_job.bucket_name }}" --prefix "{{ spa_job.prefix }}" --change-record "{{ spa_job.change_record }}" --target-server "$TARGET_SERVER"
{% endfor %}

# SPA removal jobs
{% for removal_job in removal_jobs %}
remove-{{ removal_job.application }}-{{ removal_job.version }}{{ removal_job.target }}:
  stage: deploy-spa

  when: manual
  allow_failure: false

  variables:
    TARGET_SERVER: "{{ removal_job.target_server }}"
    ACTIVE_PROFILE: "{{ removal_job.active_profile }}"

  script:
    - s3-cli remove-objects --bucket-name "{{ removal_job.bucket_name }}" --prefix "{{ removal_job.prefix }}" --change-record "{{ removal_job.change_record }}" --target-server "$TARGET_SERVER"
    - echo "Post removal verification"
    - s3-cli list-objects --bucket-name "{{ removal_job.bucket_name }}" --prefix "{{ removal_job.prefix }}" --change-record "{{ removal_job.change_record }}" --target-server "$TARGET_SERVER"
{% endfor %}